#i4_bottom {
	display: none !important;
}

#i1_top {
	display: none !important;
}

#i1_middle {
	display: none !important;
}

#i0_forum {
	display: none !important;
}

.rek {
	display: none !important;
}

.matchCat {
	box-shadow: inset 3px 0 0 0 #e63865 !important;
}

.csCat {
	box-shadow: inset 3px 0 0 0 #ffae00 !important;
}

.newsCat {
	box-shadow: inset 3px 0 0 0 #55a528 !important;
}

.hltvCat {
	box-shadow: inset 3px 0 0 0 #2d6da3 !important;
}

.scoreboard {
	max-width: none !important;
}

.newreply-con {
	top: 40px;
	padding-bottom: 40px;
}

.page-btn {
	width: 75px;
    height: 30px;
    display: inline-block;
    border: 1px solid #cccccc;
    background-color: #f6f6f9;
    text-align: center;
    line-height: 30px;
	font-size: 12px;
	user-select: none;
}

#previous-page {
	width: 100px;
}

.page-btn:hover {
	background-color: #dadada;
	cursor: pointer;
}

.featured-match-teams {
	margin: auto;
	padding-top: 10px;
}