#i4_bottom {
	display: none !important;
}

#i1_top {
	display: none !important;
}

#i1_middle {
	display: none !important;
}

#i0_forum {
	display: none !important;
}

.rek {
	display: none !important;
}

#g0_middle {
	display: none !important;
}

#g0_right {
	display: none !important;
}

#g1_middle {
	display: none !important;
}

#g4_middle {
	display: none !important;
}

#g4_bottom {
	display: none !important;
}

#g0_forum {
	display: none !important;
}

#matchpage_1 {
    display: none !important;
}