.bgPadding {
	max-width: 100% !important;
}

.widthControl {
	max-width: 1210px !important;
}

.rightCol {
	min-width: 172px !important;
	position: relative !important;
	left: -85px !important;
}

.contentCol {
	max-width: 626px !important;
}

.right2Col {
	position: relative !important;
	left: -60px !important;
}

.navcon {
	max-width: 1210px !important;
}

.widthControl .footerlinks {
	max-width: 1210px !important;
}

.leftCol {
	min-width: 146px !important;
}

.overlayImageFrame {
	padding-top: 16px;
}

.overlayImageFrame-unknown {
	padding-top: 16px;
}

.event-coverage-logo .a-reset img {
	width: 70px !important;
	position: relative;
	top: -4px;
}

.event-coverage-hub-link {
	font-size: 16px !important;
}

.event-coverage-hub-link a {
	padding: 2px 24px;
}

.widget-upcoming-matches .team-name {
	padding-left: 4px !important;
}

.team-odds-1 {
	max-width: 65px;
}

.team-odds-2 {
	max-width: 65px;
}

.team-name.text-ellipsis {
	max-width: 70px;
	padding-left: 6px !important;
}