.bgPadding {
	max-width: 100% !important;
}

.widthControl {
	max-width: 1610px !important;
}

.contentCol {
	position: relative !important;
	left: 30px !important;
	max-width: 890px !important;
}

.rightCol {
	min-width: 228px !important;
	position: relative !important;
	left: -195px !important;
}

.right2Col {
	min-width: 263px !important;
	position: relative !important;
	left: -115px !important;
}

.navcon {
	max-width: 1610px !important;
}

.widthControl .footerlinks {
	max-width: 1610px !important;
}

.leftCol {
	min-width: 194px !important;
}

.overlayImageFrame {
	padding-top: 39px;
}

.overlayImageFrame-unknown {
	padding-top: 39px;
}

.event-coverage-logo .a-reset img {
	width: 85px !important;
	position: relative;
	top: -16px;
}

.event-coverage-hub-link {
	font-size: 19px !important;
}

.event-coverage-hub-link a {
	padding: 2px 33px !important;
}

.team-name.text-ellipsis {
	padding-left: 6px !important;
}