.bgPadding {
	max-width: 100% !important;
}

.widthControl {
	max-width: 1410px !important;
}

.rightCol {
	min-width: 200px !important;
}

.right2Col {
	min-width: 230px !important;
}

.navcon {
	max-width: 1410px !important;
}

.widthControl .footerlinks {
	max-width: 1410px !important;
}

.leftCol {
	min-width: 170px !important;
}

.overlayImageFrame {
	padding-top: 27px;
}

.overlayImageFrame-unknown {
	padding-top: 27px;
}

.event-coverage-logo .a-reset img {
	width: 80px !important;
    position: relative;
	top: -10px;
}

.event-coverage-hub-link {
	font-size: 17px !important;
}

.event-coverage-hub-link a {
	padding: 4px 30px !important;
}

.widget-upcoming-matches .team-name {
	padding-left: 8px !important;
}